/* ---- screen sizes ---- */
/* ---- colors ---- */
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-ExtraBold.ttf?6a7a95b823f21d230e6d2cdb388c57ba) format("truetype");
  font-weight: 800;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Bold.ttf?45847e90261782dc01a6f6e700bde40b) format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-SemiBold.ttf?dcf2e322dbaa037ca821c06f11d632ba) format("truetype");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Medium.ttf?5b0a682fe3717764627eb55e9bb6c8c0) format("truetype");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf?9a6cfa5890d7f3eef58510612e5fc36e) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Light.ttf?ba19b360bc99b580b45bf7182d085382) format("truetype");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "Disket Mono";
  src: url(/fonts/Disket-Mono-Bold.ttf?295e11be396c5e39698be5b87a70b387) format("truetype");
  font-weight: 700;
  font-style: light;
}
@font-face {
  font-family: "Disket Mono";
  src: url(/fonts/Disket-Mono-Regular.ttf?7377dd2a75631272ed00f03e6ab6ca7d) format("truetype");
  font-weight: 400;
  font-style: light;
}
:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Open Sans";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.html {
  background-color: red;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.notification-block {
  position: relative;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
}
.notification-block__close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.notification {
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  animation-name: dissapear;
  animation-duration: 8s;
  opacity: 0;
}
.notification.error {
  border: 1px solid rgb(202, 133, 133);
  background-color: rgb(255, 219, 219);
  color: rgb(207, 0, 0);
}
.notification.info {
  border: 1px solid rgb(133, 202, 164);
  background-color: rgb(219, 255, 235);
  color: rgb(0, 122, 55);
}

@keyframes dissapear {
  0% {
    opacity: 1;
    top: 0;
  }
  25% {
    opacity: 1;
    top: 0;
  }
  50% {
    opacity: 0;
    top: -50px;
  }
  75% {
    opacity: 0;
    top: -1000px;
  }
  100% {
    top: -1000px;
  }
}
.request-validation-errors {
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 219, 219);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 5px 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50%;
}
.request-validation-errors.hidden {
  display: none;
}
.request-validation-errors li {
  color: rgb(207, 0, 0);
}

.header__title {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  color: #208179;
}

.main {
  padding: 0 30px;
}
.main__container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main {
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .main {
    padding: 0 10px;
  }
}

.auth-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(35, 76, 83, 0.795);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 400px;
  background-color: white;
  padding: 20px 20px 20px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
@media (max-width: 767px) {
  .auth-form {
    width: 100%;
  }
}
.auth-form div:not(:last-child) {
  margin-bottom: 15px;
}
.auth-form__remember-me input {
  outline: 1px solid rgb(21, 64, 156);
  width: 20px;
  height: 20px;
}
.auth-form__remember-me label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-block {
  display: flex;
}
.btn-block.flex-center {
  justify-content: center;
}
.btn-block.flex-between {
  justify-content: space-between;
}

.btn {
  border: 1px solid rgb(44, 143, 44);
  color: rgb(2, 85, 2);
  font-size: 20px;
  width: 140px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 10px;
  height: 50px;
}
.btn:hover {
  background-color: rgb(44, 143, 44);
  border: 1px solid rgb(44, 143, 44);
  color: white;
}

.comp-input-auth-form {
  border-bottom: 1px solid rgb(21, 64, 156);
  height: 34px;
}
.comp-input-auth-form input {
  width: 100%;
  height: 100%;
  padding-left: 5px;
}
.comp-input-auth-form input:focus {
  border-bottom: 1px solid rgb(21, 64, 156);
}

.auth-button {
  background-color: grey;
  color: white;
  height: 36px;
  min-width: 80px;
  padding: 0 20px;
}
.auth-button.btn-success {
  background-color: rgb(51, 133, 51);
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

