.new-lang-block {

    &__title {
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        flex: 0 0 fit-content;
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 30px;

        @media (min-width: $desktop-min) and (max-width: $desktop-max) {

        }     
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {  

        }           
        @media (max-width: $mobile-max) {  
            flex-direction: column;
            align-items: center;
        }         
    }
    &:nth-child(1) {
        flex: 0 0 fit-content;
    }
    &:nth-child(2) {
        flex: 0 0 50px;
    }

    margin-bottom: 30px;
    div:not(:last-child) {
        // margin-bottom: 20px;
    }
}