.notification-block {
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    &__close-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
        height: 15px;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
    }   
}

.notification  {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: fit-content;
    text-align: center;
    padding: 10px 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    animation-name: dissapear;
    animation-duration: 8s;
    opacity: 0;
    &.error {
        border: 1px solid rgb(202, 133, 133);
        background-color: rgb(255, 219, 219);  
        color: rgb(207, 0, 0);       
    }
    &.info {
        border: 1px solid rgb(133, 202, 164);
        background-color: rgb(219, 255, 235);  
        color: rgb(0, 122, 55);   
    }
}

@keyframes dissapear {
    0%   {opacity: 1; top: 0; }
    25%  {opacity: 1; top: 0;}
    50%  {opacity: 0; top: -50px;}
    75%  {opacity: 0; top: -1000px;}
    100% {top: -1000px;}
}

.request-validation-errors  {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 219, 219);  
    width: fit-content;
    text-align: center;
    padding: 5px 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    &.hidden {
        display: none;
    }     
    li {
        color: rgb(207, 0, 0); 
    }
}